<div id="<%= dom_id hobby_item %>">
  <p>
    <strong>Title:</strong>
    <%= hobby_item.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= hobby_item.category %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= hobby_item.item_type %>
  </p>

  <p>
    <strong>Scheduled on:</strong>
    <%= hobby_item.scheduled_on %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hobby_item.location %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= hobby_item.cost %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= hobby_item.url %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= hobby_item.body %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= hobby_item.rating %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= hobby_item.status %>
  </p>

</div>
