<div id="<%= dom_id lunch_log %>">
  <p>
    <strong>Visited on:</strong>
    <%= lunch_log.visited_on %>
  </p>

  <p>
    <strong>Shop name:</strong>
    <%= lunch_log.shop_name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= lunch_log.area %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= lunch_log.price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= lunch_log.rating %>
  </p>

  <p>
    <strong>Crowdedness:</strong>
    <%= lunch_log.crowdedness %>
  </p>

  <p>
    <strong>Solo friendly:</strong>
    <%= lunch_log.solo_friendly %>
  </p>

  <p>
    <strong>Repeat:</strong>
    <%= lunch_log.repeat %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= lunch_log.memo %>
  </p>

</div>
